@tailwind base;
@tailwind components;
@tailwind utilities;

.pattern-stripes{
  position: relative;
}

.bg-dzt{
  background-color: rgb(209 0 25);
}

.pattern-stripes::before {
  --color:  rgba(0, 0, 0, .1);
  --opacity: .1;
  --size: 15px 15px;



  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  background-image: linear-gradient(-45deg, var(--color) 25%, transparent 25%, transparent 50%, var(--color) 50%, var(--color) 75%, transparent 75%, transparent 100%);
  background-size: var(--size);
  /* -webkit-mask-image: linear-gradient(to right, black 0%, transparent 100%);
  mask-image: linear-gradient(to right, black 0%, transparent 100%); */
}